.xterm .xterm-screen {
    position: absolute;
}

.term-win {
    border: 5px white solid;
    border-radius: 15px;
    margin: 5%;
    padding: 15px;
    height: 80vh;
    background-color: #012456;
}

.card-body {
    /* filter: invert(16%) sepia(20%) saturate(6906%) hue-rotate(190deg) brightness(95%) contrast(99%); */
}