.xml-viewer{
    margin: 5%;
    border: 3px;
    FONT-WEIGHT: 200;
    border-style: solid;
    padding: 10px;
}

.xml-area{
    width: 87%;
    height: auto;
    margin: 5%;
    border: 3px;
    FONT-WEIGHT: 200;
    border-style: solid;
    padding: 10px;
}
